<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update A User</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <%= JSON.stringify(userEidt) %>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/create">Ceact User</a>
            <a class="active" href="/update">Update User</a>
        </div>
        <div class="form-add-new">
            <!-- 7:13 -->
            <form action="/create_user" method="post">
                <fieldset>
                    <legend>Update new users</legend>
                    <div class="input-group">
                        <label for="">Email</label>
                        <input
                            type="text"
                            name="email"
                            value="<%= userEidt.email %>"
                        />
                    </div>
                    <div class="input-group">
                        <label for="">Name</label>
                        <input
                            type="text"
                            name="fullname"
                            value="<%= userEidt.name %>"
                        />
                    </div>
                    <div class="input-group">
                        <label for="">City</label>
                        <input
                            type="text"
                            name="city"
                            value="<%= userEidt.city %>"
                        />
                    </div>
                    <div>
                        <button>Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
